{% extends 'index.html' %}


{% block content %}
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}

    <p>
        {{ form.header.label }}
        {{ form.header() }}
        <span>
            {% for err in form.header.errors %}
                {{ err }}
            {% endfor %}
        </span>
    </p>
    <p>
        {{ form.body.label }}
        {{ form.body() }}
        <span>
            {% for err in form.body.errors %}
                {{ err }}
            {% endfor %}
        </span>
    </p>
    <p>
        {{ form.submit() }}
    </p>
</form>
<script src="../static/password.js"></script>
{% endblock %}