{% extends 'index.html' %}


{% block content %}
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}

    <p>
        {{ form.login.label }}
        {{ form.login() }}
        <span>
            {% for err in form.login.errors %}
                {{ err }}
            {% endfor %}
        </span>
    </p>
    <p>
        {{ form.password.label }}
        {{ form.password() }}
        <span>
            {% for err in form.password.errors %}
                {{ err }}
            {% endfor %}
        </span>
    </p>
    <p>
        {{ form.submit() }}
    </p>
</form>

{% endblock %}